::selection {
  background-color: var(--color-green-m);
  color: var(--color-green-light);
}

:focus-visible {
  outline: 3px solid orange;
  transition: outline 0.2s ease;
  border-radius: inherit;
}

html {
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font);
  scrollbar-color: var(--color-purple-hover) transparent;
  scrollbar-width: 1px;
  caret-color: orange;
  height: 100%;
  font-size: var(--font-size);
  font-family: var(--font);
  background-color: #0f0f0f;
  color: rgb(200, 200, 200);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0f0f0f;
  /* padding: 12px; */
  padding-top: 0px;
  box-sizing: border-box;
  line-height: 1.8;
  user-select: text;
}

#markdown-box {
  margin: 0 auto;
  padding: 50px;
  margin-inline: auto;
  max-width: max-content;
  user-select: text;
  -webkit-user-select: text;
}

pre {
  hyphens: auto;
  margin: 40px 0;
  margin-top: 0;
  text-indent: 0;
  line-height: 2rem;
  user-select: text;
  font-size: 1rem;
  font-family: sans-serif;
}

p {
  hyphens: auto;
  margin: 40px 0;
  margin-top: 0;
  text-indent: 0;
  line-height: 2rem;
  user-select: text;
  font-size: 1rem;
  font-family: sans-serif;
}

hr {
  color: hsla(var(--color-gray-100-a), 0.4);
  border: 0.5px solid;
  border-radius: 100%;
  max-width: 65ch;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}
